# This workflow will do a clean install of node dependencies, build the source code and
# run tests across different versions of node.
# For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: coverage

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 15.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run test:coverage
      # The following can be re-enabled to publish coverage reports
      # to the docs folder, and therefore availabe via GH pages.
      # PS: for this to work, you also need to update jest.config.js
      # and replace
      #   coverageDirectory: "coverage",
      # with
      #   coverageDirectory: "docs/coverage",
      #
      # - name: Publish coverage
      #   uses: EndBug/add-and-commit@v4
      #   with:
      #     add: docs
      #     force: true
      #     message: Add coverage reports
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
